tw_llm filter=lfs diff=lfs merge=lfs -text
process.py filter=lfs diff=lfs merge=lfs -text
process.sh filter=lfs diff=lfs merge=lfs -text
Taiwan-LLM-7B-v2.0-chat filter=lfs diff=lfs merge=lfs -text
processed_data filter=lfs diff=lfs merge=lfs -text
requirement.txt filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
download_data.sh filter=lfs diff=lfs merge=lfs -text
download_tw_llm.sh filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/qwen/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/core filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/xpos_rope_llama_monkey_patch.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/models.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/fixtures/alpaca filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/__pycache__/llama_attn_hijack_flash.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_normalize_config.py filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/files/config.yaml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/13b/lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mpt-7b/config.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/xgen-7b/xgen-7b-8k-qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common/__pycache__/const.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/last_run_prepared/7287e97fcbff7a8028fc13eb66ced107/data-00000-of-00001.arrow filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/llama_landmark_attn.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/bench.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_tokenizers.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/phi/configuration_phi.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/orcamini.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/dict.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/7b/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/gptj/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2 filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common/const.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/tokenization.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/fixtures/conversation.missingturns.json filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/run-j2n22pcg.wandb filter=lfs diff=lfs merge=lfs -text
tw_llm/setup_axolotl.sh filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/files/wandb-metadata.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mamba filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/redpajama/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_expand_mask.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/samplers/__pycache__/multipack.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/trainer.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/mixtral filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/samplers/multipack.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/test_phi.py filter=lfs diff=lfs merge=lfs -text
tw_llm/last_run_prepared filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/phi filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/__pycache__/utils.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/alpaca_chat.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/metharme.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/test_mistral_samplepack.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/mixtral/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/completion.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/freeze.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/wandb_.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mistral filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/logs/debug.log filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/monkeypatch/test_llama_attn_hijack_flash.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/qwen/lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/__pycache__/user_defined.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/callbacks.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/pythia filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/trainer.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/run-hv12tgyl.wandb filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/falcon/config-7b-lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2/fft_optimized.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/tmp/code filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/test_fused_llama.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/deepspeed/zero1.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mistral/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/__pycache__/llama_expand_mask.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/samplers/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/last_run_prepared/7287e97fcbff7a8028fc13eb66ced107/dataset_info.json filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/files/output.log filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mamba/config.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/pythia-12b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/__pycache__/fastchat_conversation_turns.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/dict.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/openllama-3b/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/collators.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/test_mistral.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/mistral_attn_hijack_flash.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/pygmalion.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__pycache__/logging_config.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/deepspeed/zero2.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/docs/multipack.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/jeopardy-bot filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/qwen filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/fixtures filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_prompters.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/phi/modeling_phi.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/test_mamba.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mpt-7b/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/llama_attn_hijack_xformers.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/samplers/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/phi/phi-qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl.egg-info/top_level.txt filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/distributed.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2/gptq-lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/image/sticker_fixed.png filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common/__pycache__/cli.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/models.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mistral/config.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/image/axolotl.png filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/sharegpt.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__pycache__/datasets.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/files/wandb-summary.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/34b/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/phi/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/sharegpt_jokes.py filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/files filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/core/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_tokenizers.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_prompt_tokenizers.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/docs/faq.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2/tiny-llama.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mpt-7b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/openllama-3b/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/redpajama/config-3b.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/llama_attn_hijack_flash.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/context_qa.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/deepspeed/zero3_bf16.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mistral/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/btlm_attn_hijack_flash.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/docs/multi-node.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__pycache__/prompt_tokenizers.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/files/wandb-summary.json filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/files/output.log filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/core/trainer_builder.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl.egg-info/dependency_links.txt filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/mamba/configuration_mamba.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/wandb_.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/predict.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/llama_expand_mask.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/utils.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/creative_acr.py filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/files/conda-environment.yaml filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/files/wandb-metadata.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/openllama-3b/lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/pythia-12b/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/merge_lora.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/distributed.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/__pycache__/alpaca_w_system.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/collators.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/13b/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/falcon filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/scripts/runpod-entrypoint.sh filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/core/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl.egg-info filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__pycache__/prompters.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/deepspeed/zero3.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/falcon/config-7b-qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/__pycache__/inference.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/common/cli.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/user_defined.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e filter=lfs diff=lfs merge=lfs -text
tw_llm/output_test.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/test_resume.py filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/logs filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/tmp filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/cerebras/qlora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/falcon/config-7b.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/openllama-3b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/phi/configuration_mixformer_sequential.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/samplers/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/files/requirements.txt filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/files/requirements.txt filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/inference.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/preprocess.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/bench.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/pythia-12b/config.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/xgen-7b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompters.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_data.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/34b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2/lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/stablelm_attn_hijack_flash.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/docs/nccl.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/logging_config.py filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/tmp/code filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl.egg-info/requires.txt filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/data.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/replit-3b/config-lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch filter=lfs diff=lfs merge=lfs -text
tw_llm/train_axolotl.sh filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/jeopardy-bot/config.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/openllama-3b/config.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/train.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/freeze.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/docker/Dockerfile filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/phi/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl.egg-info/SOURCES.txt filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/mamba/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2/README.md filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/phi/phi-ft.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_packed_dataset.py filter=lfs diff=lfs merge=lfs -text
tw_llm/last_run_prepared/7287e97fcbff7a8028fc13eb66ced107/state.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/fixtures/conversation.json filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/logs filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/phi filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/files filter=lfs diff=lfs merge=lfs -text
tw_llm/qlora filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/files/conda-environment.yaml filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/files/config.yaml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/shard.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/core/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/mamba/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/monkeypatch filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/phi/modeling_mixformer_sequential.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/schedulers.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155905-j2n22pcg/tmp filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/docker/Dockerfile-runpod filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/7b/lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/gptj filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/redpajama filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/mamba filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/fixtures/conversation.tokenized_llama2chat.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_dict.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/docker/Dockerfile-base filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/alpaca_instruct.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/config.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/fixtures/alpaca/alpaca.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/mamba/modeling_mamba.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/fastchat_conversation_turns.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/llama_attn_hijack_sdp.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/cerebras/btlm-ft.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/13b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/train.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/datasets.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/__init__.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/mamba/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/llama2_chat.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/mixtral/modeling_mixtral.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/__pycache__/train.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/schedulers.py filter=lfs diff=lfs merge=lfs -text
tw_llm/wandb/run-20231218_155953-hv12tgyl/logs/debug.log filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/cerebras filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/__pycache__/train.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/convert.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/tokenization.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/relora.py filter=lfs diff=lfs merge=lfs -text
tw_llm/predict.sh filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/34b/lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/mistral/mixtral.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/pythia/lora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/image/axolotl-badge-web.png filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/test_validation.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/scripts/finetune.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/core/__pycache__/trainer_builder.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/alpaca_w_system.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/data.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/monkeypatch/__pycache__/relora.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/__pycache__/config.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/samplers filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/utils.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/llama-2/relora.yml filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/replit-3b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/cli/__pycache__/__init__.cpython-310.pyc filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/models/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/fixtures/conversation.tokenized.json filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/examples/code-llama/7b filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/prompt_strategies/__pycache__ filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/src/axolotl/utils/callbacks.py filter=lfs diff=lfs merge=lfs -text
tw_llm/axolotl/tests/e2e/test_lora_llama.py filter=lfs diff=lfs merge=lfs -text
