axolotl/docker filter=lfs diff=lfs merge=lfs -text
axolotl/LICENSE filter=lfs diff=lfs merge=lfs -text
axolotl/scripts filter=lfs diff=lfs merge=lfs -text
wandb/debug-cli.lh104729.log filter=lfs diff=lfs merge=lfs -text
axolotl/docs filter=lfs diff=lfs merge=lfs -text
axolotl/TODO.md filter=lfs diff=lfs merge=lfs -text
wandb/debug-internal.log filter=lfs diff=lfs merge=lfs -text
wandb/debug.log filter=lfs diff=lfs merge=lfs -text
axolotl/docker-compose.yaml filter=lfs diff=lfs merge=lfs -text
axolotl/image filter=lfs diff=lfs merge=lfs -text
wandb/run-20231218_155905-j2n22pcg filter=lfs diff=lfs merge=lfs -text
wandb/run-20231218_155953-hv12tgyl filter=lfs diff=lfs merge=lfs -text
last_run_prepared/7287e97fcbff7a8028fc13eb66ced107 filter=lfs diff=lfs merge=lfs -text
axolotl/deepspeed filter=lfs diff=lfs merge=lfs -text
axolotl/examples filter=lfs diff=lfs merge=lfs -text
axolotl/FAQS.md filter=lfs diff=lfs merge=lfs -text
axolotl/README.md filter=lfs diff=lfs merge=lfs -text
axolotl/src filter=lfs diff=lfs merge=lfs -text
axolotl/tests filter=lfs diff=lfs merge=lfs -text
wandb/latest-run filter=lfs diff=lfs merge=lfs -text
qlora/checkpoint-4016 filter=lfs diff=lfs merge=lfs -text
qlora/README.md filter=lfs diff=lfs merge=lfs -text
qlora/tokenizer.model filter=lfs diff=lfs merge=lfs -text
qlora/adapter_model.bin filter=lfs diff=lfs merge=lfs -text
qlora/checkpoint-4016/scheduler.pt filter=lfs diff=lfs merge=lfs -text
qlora/checkpoint-4016/training_args.bin filter=lfs diff=lfs merge=lfs -text
qlora/checkpoint-4016/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
qlora/checkpoint-4016/optimizer.pt filter=lfs diff=lfs merge=lfs -text
qlora/checkpoint-4016/README.md filter=lfs diff=lfs merge=lfs -text
qlora/checkpoint-4016/rng_state.pth filter=lfs diff=lfs merge=lfs -text
